.Jvazdb{
 background: #0D0D0D!important;
 }
 .GcESAf{
     background-color: #151515 !important;
     }
* {
    color: #EAE9E9;
}
.cjGgHb .M9kDrd:hover, .M9kDrd:focus{

    background-color: #1D1D1D !important;
    }
    .GsLz7c, .bYmF4e {
    background-color:#0C0C0C !important;
    }
    .F7tj9b, .LZOeXd {
    background-color: #101010 !important;
    }
    
.B5gIxb {
 background-color:transparent !important;
}
.cjGgHb .M24KRd:hover {
    background-color: #1D1D1D !important;
}
.m3JvWd, .e9VPPd, .nAVztc {
    color: rgba(255, 255, 255, 0.87);
}
.Tek5Ce {
    background-color: #AD0E00 !important;
}
.XS1fT___i17 {
    background: #AD0E00 !important;
}
.gb_X .gb_kc.gb_kc{
    background-color:#0C0C0C !important;
}
.YRgYyc {
    background: rgba(60, 60, 60, 0.15) !important;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-corner {
    background: #141414;
}
::-webkit-scrollbar-thumb {
    background: #151515;
}
::-webkit-scrollbar-track {
    background: #454545;
}
